@page "/WOClosedoutPage"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using System.Net.Http
@using System.Net.Http.Headers
@using Syncfusion.Blazor.Calendars
@using FieldServiceT.Models

@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject FieldServiceT.Helpers.WorkOrderService workOrderService


<div id="wrapper" style="margin:0px;">
    <SfTab @ref="@tab" CssClass="e-content">
        <TabItems>
            <TabItem Visible="@IsVisibleTab0">
                <ChildContent>
                    <TabHeader Text="NOTES ͏"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div class="question-block" style="background-color:green; color:white; font-size:large;">
                        <div>
                            Work Order Closeout Form (WOC)
                        </div>
                        <div style="font-size:x-small">
                            This form must be submitted and approved by Totality Dispatch PRIOR to leaving site, unless pre-approved otherwise. Additionally this form must be approved in order to be eligible for payment. ALL Required Deliverables must be submitted and approved prior to site departure unless Pre-Approved by Dispatch. ALL Deliverables are expected as quickly as possible but must be received within 12 hours of work completion in order to prevent unnecessary delays and/or penalties in work order payment.
                        </div>
                    </div>
                    <div class="question-block">
                        Please be detailed, organized and professional. This will assist in the efficient submission to the client for approval and payment.
                    </div>
                    <div id="q1" class="question-block">
                        <p class=" question">@Question1</p>
                        <p class="subquestion">@SubQuestion1</p>
                        <SfTextBox ValueChange="@(e => Questionnaire.TotalityWorkOrderNumber = e.Value)"></SfTextBox>
                    </div>
                    <div id="q2" class="question-block">
                        <p class=" question">@Question2</p>
                        <p class="subquestion">@SubQuestion2</p>
                        <SfTextBox ValueChange="@(e => Questionnaire.ClientAssignmentCaseID = e.Value)"></SfTextBox>
                    </div>
                    <div id="q3" class="question-block">
                        <div>
                            <p class=" question">@Question3</p>
                            <p class="subquestion">@SubQuestion3</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.MODName = e.Value)"></SfTextBox>
                        </div>
                    </div>
                    <div id="q4" class="question-block">
                        <div>
                            <p class=" question">@Question4</p>
                            <p class="subquestion">@SubQuestion4</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.DetailedCloseOutNotes = e.Value)"></SfTextBox>
                        </div>
                    </div>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@IsVisibleTab1">
                <ChildContent>
                    <TabHeader Text="MATERIALS USED"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div class="question-block">
                        <div class="question-block" style="background-color:darkgreen; color:white;">
                            <div>
                                Work Order Closeout Form (WOC)
                            </div>
                            <div style="font-size:x-small">
                                Please only include items provided from company stock and not provided by the client. Please make sure to list them in the correct format specified
                            </div>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question5</p>
                            <p class="subquestion">@SubQuestion5</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option5" @onclick="@(e => Questionnaire.BillablePartsMaterialsUsed = true.ToString())">Yes
                                </label>
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option5" value="" @onclick="@(e => Questionnaire.BillablePartsMaterialsUsed = false.ToString())">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question6</p>
                            <p class="subquestion">@SubQuestion6</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option6" @onclick="@(e => Questionnaire.CableUsed = true.ToString())">Yes
                                </label>
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option6" @onclick="@(e => Questionnaire.CableUsed = false.ToString())">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="question-block">
                        <p class=" question">@Question61</p>
                        <p class="subquestion">@SubQuestion61</p>
                        <SfTextBox ValueChange="@(e => Questionnaire.CableFootageUsed = e.Value)"></SfTextBox>
                    </div>
                    <div class="question-block">
                        <p class=" question">@Question62</p>
                        <p class="subquestion">@SubQuestion62</p>
                        <div class="btn-group" role="group">
                            <SfDropDownList DataSource=@(new List<string>() { "Cat5e Non Plenum", "Cat5e Plenum", "Cat6e Non Plenum", "Cat6 Plenum", "RG59 Siamese Coax", "RG6 Coax" })
                                            TItem="string" TValue="string" Placeholder="Select cable type">
                                <DropDownListEvents TItem="string" TValue="string" ValueChange="@((e) => Questionnaire.CableType = e.Value.ToString())"></DropDownListEvents>
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="question-block">
                        <p class=" question">@Question63</p>
                        <p class="subquestion">@SubQuestion63</p>
                        <div class="btn-group" role="group">
                            <SfDropDownList DataSource=@(new List<string>() {  "Blue", "White", "Black", "Other" })
                                            TItem="string" TValue="string" Placeholder="Select cable type">
                                <DropDownListEvents TItem="string" TValue="string" ValueChange="@((e) => Questionnaire.CableColor = e.Value.ToString())"></DropDownListEvents>
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question7</p>
                            <p class="subquestion">@SubQuestion7</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.Materials = e.Value)"></SfTextBox>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question8</p>
                            <p class="subquestion">@SubQuestion8</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.Hardware = e.Value)"></SfTextBox>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question9</p>
                            <p class="subquestion">@SubQuestion9</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.OtherMaterialsExplanation = e.Value)"></SfTextBox>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question10</p>
                            <p class="subquestion">@SubQuestion10</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option10" @onclick="@(e=>Questionnaire.WorkComplete = true.ToString())">Yes
                                </label>
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option10" @onclick="@(e=>Questionnaire.WorkComplete = false.ToString())">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question11</p>
                            <p class="subquestion">@SubQuestion11</p>
                            <SfDatePicker TValue="DateTime?" Format="dd-MMM-yyyy" Placeholder='Choose a Date'>
                                <DatePickerEvents TValue="DateTime?" ValueChange="@((e)=> Questionnaire.CompletionDate = e.Value.ToString())"></DatePickerEvents>
                            </SfDatePicker>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question12</p>
                            <p class="subquestion">@SubQuestion12</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option6" @onclick="@(e => Questionnaire.RevisitRequired = true.ToString())">Yes
                                </label>
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option6" @onclick="@(e => Questionnaire.RevisitRequired = false.ToString())">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question13</p>
                            <p class="subquestion">@SubQuestion13</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.StoreLocationName = e.Value)"></SfTextBox>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question14</p>
                            <p class="subquestion">@SubQuestion14</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.CheckInTime = e.Value)"></SfTextBox>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question15</p>
                            <p class="subquestion">@SubQuestion15</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.CheckOutTime = e.Value)"></SfTextBox>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question16</p>
                            <p class="subquestion">@SubQuestion16</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.NameTitleofClientSupportStaff = e.Value)"></SfTextBox>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question17</p>
                            <p class="subquestion">@SubQuestion17</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option6" @onclick="@(e => Questionnaire.IssuesorEscalations = true.ToString())">Yes
                                </label>
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="option6" @onclick="@(e => Questionnaire.IssuesorEscalations = false.ToString())">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question18</p>
                            <p class="subquestion">@SubQuestion18</p>
                            <SfTextBox ValueChange="@(e => Questionnaire.Issueexplanation = e.Value)"></SfTextBox>
                        </div>
                    </div>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@IsVisibleTab2">
                <ChildContent>
                    <TabHeader Text="SELF RATINGS"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div class="question-block">
                        <div>
                            <p class="question">@Question19</p>
                            <p class="subquestion">@SubQuestion19</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-success btn-group-vertical">
                                    <input type="radio" name="option19" @onclick="(e => Questionnaire.SOWFamiliarity = 1.ToString())">1
                                </label>
                                <label class="btn btn-outline-success btn-group-vertical">
                                    <input type="radio" name="option19" value="" @onclick="(e => Questionnaire.SOWFamiliarity =2.ToString())">2
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <!-- отмеченная radio-кнопка -->
                                    <input type="radio" name="option19" value="third" @onclick="(e => Questionnaire.SOWFamiliarity =3.ToString())">3
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option19" value="first" @onclick="(e => Questionnaire.SOWFamiliarity =4.ToString())">4
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option19" value="second" @onclick="(e => Questionnaire.SOWFamiliarity =5.ToString())">5
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option19" value="third" @onclick="(e => Questionnaire.SOWFamiliarity =6.ToString())">6
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option19" value="first" @onclick="(e => Questionnaire.SOWFamiliarity =7.ToString())">7
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option19" value="second" @onclick="(e => Questionnaire.SOWFamiliarity =8.ToString())">8
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <!-- отмеченная radio-кнопка -->
                                    <input type="radio" name="option19" value="third" @onclick="(e => Questionnaire.SOWFamiliarity =9.ToString())">9
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option19" value="third" @onclick="(e => Questionnaire.SOWFamiliarity =10.ToString())">10
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class="question">@Question20</p>
                            <p class="subquestion">@SubQuestion20</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-success btn-group-vertical">
                                    <input type="radio" name="option20" @onclick="(e => Questionnaire.Efficiency = 1.ToString())">1
                                </label>
                                <label class="btn btn-outline-success btn-group-vertical">
                                    <input type="radio" name="option20" value="" @onclick="(e => Questionnaire.Efficiency =2.ToString())">2
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <!-- отмеченная radio-кнопка -->
                                    <input type="radio" name="option20" value="third" @onclick="(e => Questionnaire.Efficiency =3.ToString())">3
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option20" value="first" @onclick="(e => Questionnaire.Efficiency =4.ToString())">4
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option20" value="second" @onclick="(e => Questionnaire.Efficiency =5.ToString())">5
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option20" value="third" @onclick="(e => Questionnaire.Efficiency =6.ToString())">6
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option20" value="first" @onclick="(e => Questionnaire.Efficiency =7.ToString())">7
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option20" value="second" @onclick="(e => Questionnaire.Efficiency =8.ToString())">8
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option20" value="third" @onclick="(e => Questionnaire.Efficiency =9.ToString())">9
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option20" value="third" @onclick="(e => Questionnaire.Efficiency =10.ToString())">10
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="question-block">
                        <div>
                            <p class=" question">@Question21</p>
                            <p class="subquestion">@SubQuestion21</p>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-outline-success btn-group-vertical">
                                    <input type="radio" name="option21" @onclick="(e => Questionnaire.Preparedness = 1.ToString())">1
                                </label>
                                <label class="btn btn-outline-success btn-group-vertical">
                                    <input type="radio" name="option21" value="" @onclick="(e => Questionnaire.Preparedness =2.ToString())">2
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option21" value="third" @onclick="(e => Questionnaire.Preparedness =3.ToString())">3
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option21" value="first" @onclick="(e => Questionnaire.Preparedness =4.ToString())">4
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option21" value="second" @onclick="(e => Questionnaire.Preparedness =5.ToString())">5
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option21" value="third" @onclick="(e => Questionnaire.Preparedness =6.ToString())">6
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option21" value="first" @onclick="(e => Questionnaire.Preparedness =7.ToString())">7
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option21" value="second" @onclick="(e => Questionnaire.Preparedness =8.ToString())">8
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option21" value="third" @onclick="(e => Questionnaire.Preparedness =9.ToString())">9
                                </label>
                                <label class="btn btn-outline-primary btn-group-vertical">
                                    <input type="radio" name="option21" value="third" @onclick="(e => Questionnaire.Preparedness =10.ToString())">10
                                </label>
                            </div>
                        </div>
                    </div>
                </ContentTemplate>
            </TabItem>
            <TabItem Visible="@IsVisibleTab3">
                <ChildContent>
                    <TabHeader Text="UPLOAD FILES"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div>
                        <div style=" position:initial; top: 0; z-index: 2;">
                            <SfUploader Enabled="@loaderEnabled" @ref="@Uploader" ShowFileList="true" Multiple=false AutoUpload=false AllowedExtensions=".jpg, .png, .jpeg" SequentialUpload="true">
                                <UploaderEvents ValueChange="OnChange"></UploaderEvents>
                            </SfUploader>
                        </div>
                        <p style="font-size: x-small"><span style="color:red;">*</span>You may upload .png .jpeg .jpg files only</p>
                        <div id="container" class="row material2">
                            @*<div>
                                    <SfTextBox ID="1" @ref="@txtbox1" Enabled="@enabled1" CssClass="e-outline" Placeholder="Work Order photo" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                                </div>
                                <div>
                                    <SfTextBox ID="2" @ref="@txtbox2" Enabled="@enabled2" CssClass="e-filled" Placeholder="Area photo" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                                </div>*@
                            <div>
                                <SfTextBox ID="3" @ref="@txtbox3" Enabled="@enabled3" CssClass="e-filled" Placeholder="Deliverable1" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                            </div>
                            <div>
                                <SfTextBox ID="4" @ref="@txtbox4" Enabled="@enabled4" CssClass="e-filled" Placeholder="Deliverable2" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                            </div>
                            <div>
                                <SfTextBox ID="5" @ref="@txtbox5" Enabled="@enabled5" CssClass="e-filled" Placeholder="Deliverable3" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                            </div>
                            <div>
                                <SfTextBox ID="6" @ref="@txtbox6" Enabled="@enabled6" CssClass="e-filled" Placeholder="Deliverable4" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                            </div>
                            <div>
                                <SfTextBox ID="7" @ref="@txtbox7" Enabled="@enabled7" CssClass="e-filled" Placeholder="Deliverable5" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
    <div class="btn-container">
        <SfButton CssClass="e-info button" Disabled="ButtonNextDisabled" OnClick="ButtonNextClickHandler">Next</SfButton>
        <SfButton CssClass="e-danger button" Disabled="ButtonSubmitDisabled" OnClick="ButtonSubmitClickHandler">Submit</SfButton>
    </div>
    <SfDialog @ref="dialog" Width="335px" Target="#target" IsModal="true" @bind-Visible="dialogVisibility">
        <DialogTemplates>
            <Header>Submit result</Header>
            <Content>
                <p>@dialogContent</p>
            </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="OK" IsPrimary="true" OnClick="@DlgButtonClick" />
        </DialogButtons>
        <DialogEvents OnOverlayClick="@OverlayClick"></DialogEvents>
        <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    </SfDialog>
</div>

@code {

    #region Code

    SfTab tab;

    public WOQuestionnaire Questionnaire { get; set; }

    protected override void OnInitialized()
    {
        Questionnaire = workOrderService.Questionnaire;

        names.Enqueue("WorkOrderPhoto");
        names.Enqueue("AreaPhoto");
        names.Enqueue("Deliverable1");
        names.Enqueue("Deliverable2");
        names.Enqueue("Deliverable3");
        names.Enqueue("Deliverable4");
        names.Enqueue("Deliverable5");

        loaderEnabled = true;

        IsVisibleTab0 = true;
        IsVisibleTab1 = false;
        IsVisibleTab2 = false;
        IsVisibleTab3 = false;
    }

    #region RadioButtons

    public string CheckedValue22 = "0";
    public string CheckedValue23 = "0";
    public string CheckedValue24 = "0";

    SfRadioButton<string> radiobtn19;
    SfRadioButton<string> radiobtn20;
    SfRadioButton<string> radiobtn21;

    string result22;
    string result23;
    string result24;

    public void onChange22(Microsoft.AspNetCore.Components.ChangeEventArgs args) { result22 = args.Value.ToString(); }
    public void onChange23(Microsoft.AspNetCore.Components.ChangeEventArgs args) { result23 = args.Value.ToString(); }
    public void onChange24(Microsoft.AspNetCore.Components.ChangeEventArgs args) { result24 = args.Value.ToString(); }

    #endregion

    #region Questions Constants
    // TabItem "NOTES"
    const string Question1 = "͏͏1.Totality Work Order Number";
    const string Question2 = "͏͏2.Client Assignment/Case ID";
    const string Question3 = "͏͏3.MOD Name";
    const string Question4 = "͏͏4.Detailed Close Out Notes";
    // TabItem "MATERIAL USED"
    const string Question5 = "͏͏5.Any billable Parts/Materials used?";
    const string Question6 = "͏͏6.Cable Used?";

    const string Question61 = "͏͏7.Cable footage used in feet";
    const string Question62 = "͏͏8.Please select type of cable used";
    const string Question63 = "͏͏9.Cable Color";

    const string Question7 = "͏͏10.Materials";
    const string Question8 = "͏͏11.Hardware";
    const string Question9 = "͏͏12.Other materials explanation";
    const string Question10 = "͏͏13.Work Complete?";
    const string Question11 = "͏͏14.Completion Date";
    const string Question12 = "͏͏15.Revisit Required";
    const string Question13 = "͏͏16.Store/Location Name";
    const string Question14 = "͏͏17.Check in time";
    const string Question15 = "͏͏18.Check out time";
    const string Question16 = "͏͏19.Name & Title of Client Support Staff";
    const string Question17 = "͏͏20.Issues or Escalations?";
    const string Question18 = "͏͏21.Issue explanation";
    // TabItem "Work Order Self Ratings"
    const string Question19 = "͏͏22.SOW Familiarity";
    const string Question20 = "͏͏23.Efficiency";
    const string Question21 = "͏͏24.Preparedness";

    const string SubQuestion1 = "You MUST include zero's!";
    const string SubQuestion2 = "leave blank if none provided";
    const string SubQuestion3 = "";
    const string SubQuestion4 = "Please provide your detailed and organized close out notes including any relevant info necessary to submit work order to the client for approval efficiently.";

    const string SubQuestion5 = "";
    const string SubQuestion6 = "";

    const string SubQuestion61 = "i.e 557";
    const string SubQuestion62 = "Please only include items provided from company stock and not provided by the client. Check the box if used.";
    const string SubQuestion63 = "";

    const string SubQuestion7 = "List materials used for this work order with individual line items 7ft Cat6 Blue Patch Cable x 10 Cat5e RJ45 Keystone Jack Orange x 4 3/4 EMT Conduit x 10 ft";
    const string SubQuestion8 = "List Hardware used for this work order with individual line items toggle bolts x 10 3/4\" J-hook x 4 1/4\" Bolt x 10 1/4\" Hex nut x 10";
    const string SubQuestion9 = "";
    const string SubQuestion10 = "";
    const string SubQuestion11 = "";
    const string SubQuestion12 = "";
    const string SubQuestion13 = "Please include store number if known";
    const string SubQuestion14 = "";
    const string SubQuestion15 = "";
    const string SubQuestion16 = "";
    const string SubQuestion17 = "";
    const string SubQuestion18 = "";
    //const string SubQuestion19 = "";
    //const string SubQuestion20 = "";
    //const string SubQuestion21 = "";

    const string SubQuestion19 = "How familiar and comfortable are you in completing work orders of this type?";
    const string SubQuestion20 = "How efficient do you feel you were in completing this work order?";
    const string SubQuestion21 = "From pre-visit studying to making sure you have the right tools, materials and equipment, how prepared were you on arrival?";
    #endregion

    #region ButtonsEventsHandlers

    bool ButtonNextDisabled = false;
    bool ButtonSubmitDisabled = true;

    int SelectedTab;

    public void ButtonNextClickHandler(MouseEventArgs args)
    {
        switch (SelectedTab)
        {
            case 0:
                tab.Select(1);
                SelectedTab = 1;
                IsVisibleTab0 = false;
                IsVisibleTab1 = true;
                IsVisibleTab2 = false;
                IsVisibleTab3 = false;
                ButtonNextDisabled = false;
                ButtonSubmitDisabled = true;
                break;
            case 1:
                tab.Select(2);
                SelectedTab = 2;
                IsVisibleTab0 = false;
                IsVisibleTab1 = false;
                IsVisibleTab2 = true;
                IsVisibleTab3 = false;
                ButtonNextDisabled = false;
                ButtonSubmitDisabled = true;
                break;
            case 2:
                tab.Select(3);
                SelectedTab = 3;
                IsVisibleTab0 = false;
                IsVisibleTab1 = false;
                IsVisibleTab2 = false;
                IsVisibleTab3 = true;
                ButtonNextDisabled = true;
                ButtonSubmitDisabled = false;
                break;
        }
    }

    public async Task ButtonSubmitClickHandler(MouseEventArgs args)
    {
        //var service = workOrderService;

        var statusCode = await workOrderService.SendWORequestPostAsync();

        dialogContent = "StatusCode: " + statusCode.ToString();
        dialogVisibility = true;
    }

    #endregion

    #region Tabs navigation

    bool IsVisibleTab0 { get; set; }
    bool IsVisibleTab1 { get; set; }
    bool IsVisibleTab2 { get; set; }
    bool IsVisibleTab3 { get; set; }

    #endregion

    #region FileUploader

    SfUploader Uploader;

    SfTextBox txtbox1;
    SfTextBox txtbox2;
    SfTextBox txtbox3;
    SfTextBox txtbox4;
    SfTextBox txtbox5;
    SfTextBox txtbox6;
    SfTextBox txtbox7;

    bool loaderEnabled;

    bool enabled1;
    bool enabled2;
    bool enabled3;
    bool enabled4;
    bool enabled5;
    bool enabled6;
    bool enabled7;

    Queue<string> names = new Queue<string>();

    string fileName;
    private void OnChange(UploadChangeEventArgs args)
    {
        string ext = args.Files.First().FileInfo.Type;

        var file = args.Files.First();

        switch (names.Count)
        {
            case 7:
                string name1 = GetFullName("WorkOrderPhoto", ext);
                file.FileInfo.Name = name1;
                Questionnaire.FileName1 = name1;
                break;
            case 6:
                string name2 = GetFullName("WorkOrderPhoto", ext);
                file.FileInfo.Name = name2;
                Questionnaire.FileName2 = name2;
                enabled3 = true;
                break;
            case 5:
                string name3 = GetFullName(txtbox3.Value, ext);
                file.FileInfo.Name = name3;
                Questionnaire.FileName3 = name3;
                enabled3 = false;
                enabled4 = true;
                break;
            case 4:
                string name4 = GetFullName(txtbox4.Value, ext);
                file.FileInfo.Name = name4;
                Questionnaire.FileName4 = name4;
                enabled4 = false;
                enabled5 = true;
                break;
            case 3:
                string name5 = GetFullName(txtbox5.Value, ext);
                file.FileInfo.Name = name5;
                Questionnaire.FileName5 = name5;
                enabled5 = false;
                enabled6 = true;
                break;
            case 2:
                string name6 = GetFullName(txtbox6.Value, ext);
                file.FileInfo.Name = name6;
                Questionnaire.FileName6 = name6;
                enabled6 = false;
                enabled7 = true;
                break;
            case 1:
                string name7 = GetFullName(txtbox7.Value, ext);
                file.FileInfo.Name = name7;
                Questionnaire.FileName7 = name7;
                enabled7 = false;
                loaderEnabled = false;
                break;
        }
        names.Dequeue();

        string WOid = "00000";
        string secret = "dFbiiILJsNWV1vBBaWGA2JSF67GjfPdO";

        string requestEndpoint = "https://fileupload20201104135508.azurewebsites.net/Call.aspx";//?WOid=";// + WOid;
        requestEndpoint += @"?WOid=" + WOid;
        requestEndpoint += @"&secret=" + secret;

        MultipartFormDataContent httpContent; // = new MultipartFormDataContent();
        StreamContent fileContent;

        httpContent = new MultipartFormDataContent();
        var filestream = file.Stream;
        filestream.Position = 0;
        fileContent = new StreamContent(filestream);

        fileContent.Headers.ContentDisposition = new ContentDispositionHeaderValue("attachment")
        {
            FileName = file.FileInfo.Name
        };

        httpContent.Add(fileContent);
        //}
        var client = new System.Net.Http.HttpClient();
        var response = client.PostAsync(requestEndpoint, httpContent).Result;
    }

    private string GetFullName(string name, string ext)
    {
        DateTime now = DateTime.UtcNow;
        string timePrefix = now.Day.ToString() + "-" + now.Month.ToString() + "-" + now.Year.ToString() + "_" + now.Hour.ToString() + "-" + now.Minute.ToString();

        string result = timePrefix + "_" + name + "." + ext;

        return result;
    }


    #endregion

    #region questions-blocs support

    #region Results

    public string result1 { get; set; }
    public string result2 { get; set; }
    public string result3 { get; set; }
    public string result4 { get; set; }
    public string result5 { get; set; }
    public string result6 { get; set; }

    public string result61 { get; set; }
    public string result62 { get; set; }
    public string result63 { get; set; }
    public string result10 { get; set; }
    public string result17 { get; set; }

    #endregion

    #region Questionnarie


    #endregion

    #region question 5

    List<DataModel5> DataSource5;

    public void OnChange5(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DataModel5> args)
    {
        this.result5 = args.ItemData.Text;
    }
    public class DataModel5
    {
        public string Text { get; set; }
        public string Value { get; set; }
    }
    #endregion

    #region question 6

    List<DataModel6> DataSource6;

    public void OnChange6(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DataModel6> args)
    {
        this.result6 = args.ItemData.Text;
    }
    public class DataModel6
    {
        public string Text { get; set; }
        public string Value { get; set; }
    }

    #endregion

    #region question 11

    public DateTime? result11 { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
    public string FormatString11 { get; set; } = "dd-MMM-yyyy";

    #endregion

    #endregion

    #region ModalDialog

    SfDialog dialog;
    bool dialogVisibility;
    string dialogContent;

    private void OverlayClick(Object args)
    {
        dialogVisibility = false;
    }

    private void DlgButtonClick()
    {
        dialogVisibility = false;
    }
    #endregion

    #endregion
}

<style>
    .e-content .e-item {
        font-size: 12px;
        padding: 0px;
        text-align: justify;
    }

    #wrapper {
        font-family: wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    }

    .question-block {
        padding: 6px;
    }

    .question {
        color: green;
        font-size: 12px;
    }

    .subquestion {
        font-size: 11px;
    }

    .button {
        width: 100px;
        margin: 6px;
        height: 30px;
    }

    .visiblity-collapsed {
        visibility: collapse;
    }

    .visibility-visible {
        visibility: visible;
    }

    #container {
        display: grid;
        grid-template-rows: auto repeat(5);
        position: relative;
        left: 20px;
        width: 260px;
        grid-row-gap: 1px;
    }
</style>
